<div id="login">
    <div class="login-wrapper" data-active="log">
        <a class="brand" href="dashboard.html"><img src="images/logodark.png" alt="Genyx admin"></a>
        <div id="log">

            <div class="page-header">
                <h3 class="center">Efetue o login</h3>
            </div>
            <form id="login-form" class="form-horizontal" action="dashboard.html" novalidate="novalidate">
                <div class="row-fluid">
                    <div class="control-group">
                        <div class="controls-row">
                            <div class="icon"><i class="icon20 i-user"></i></div>
                            <input class="span12 valid" type="text" name="user" id="user" placeholder="Username" value="suggeelson@suggeelson.com">
                        </div>
                    </div><!-- End .control-group  -->
                    <div class="control-group">
                        <div class="controls-row">
                            <div class="icon"><i class="icon20 i-key"></i></div>
                            <input class="span12 valid" type="password" name="password" id="password" placeholder="Password" value="somepassword">
                        </div>
                    </div><!-- End .control-group  -->
                    <div class="form-actions full">
                        <label class="checkbox pull-left">
                            <div class="checker"><span class=""><input type="checkbox" value="1" name="remember"></span></div>
                            <span class="pad-left5">Remember me ?</span>
                        </label>
                        <button id="loginBtn" type="submit" class="btn btn-primary pull-right span5">Login</button>
                    </div>
                </div><!-- End .row-fluid  -->
            </form>
        </div>

        <div id="forgot">
            <div class="page-header">
                <h3 class="center">Forgot password</h3>
            </div>
            <form class="form-horizontal">
                <div class="row-fluid">
                    <div class="control-group">
                        <div class="controls-row">
                            <div class="icon"><i class="icon20 i-user"></i></div>
                            <input class="span12" type="text" name="user" id="user" placeholder="Username">
                        </div>
                    </div><!-- End .control-group  -->
                    <div class="control-group">
                        <div class="controls-row">
                            <div class="icon"><i class="icon20 i-envelop-2"></i></div>
                            <input class="span12" type="text" name="email" id="email-field" placeholder="Your email">
                        </div>
                    </div><!-- End .control-group  -->
                    <div class="form-actions full">
                        <button type="submit" class="btn btn-large btn-block btn-success">Recover my password</button>
                    </div>
                </div><!-- End .row-fluid  -->
            </form>
        </div>
    </div>
    <div id="bar" data-active="log">
        <div class="btn-group btn-group-vertical">
            <a id="log" href="#" class="btn tipR" title="" data-original-title="Login"><i class="icon16 i-key"></i></a>

            <a id="forgot" href="#" class="btn tipR" title="" data-original-title="Forgout password"><i class="icon16 i-question"></i></a>
        </div>
    </div>

</div>