<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Teste</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="~/Content/Genyx/html/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Genyx/html/css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/Genyx/html/css/icons.css" rel="stylesheet" />
    <link href="~/Content/Genyx/html/js/plugins/forms/uniform/uniform.default.css" rel="stylesheet" />
    <link href="~/Content/Genyx/html/css/app.css" rel="stylesheet" />
    <link href="~/Content/Genyx/html/css/custom.css" rel="stylesheet" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/Genyx/html/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/Genyx/html/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/Genyx/html/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/Genyx/html/images/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="~/Content/Genyx/html/images/ico/favicon.ico">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Content/Genyx/html/js/bootstrap/bootstrap.js"></script>
    <script src="~/Content/Genyx/html/js/conditionizr.min.js"></script>
    <script src="~/Content/Genyx/html/js/plugins/core/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/Content/Genyx/html/js/plugins/core/jrespond/jRespond.min.js"></script>
    <script src="~/Content/Genyx/html/js/jquery.genyxAdmin.js"></script>
    <script src="~/Content/Genyx/html/js/plugins/forms/uniform/jquery.uniform.min.js"></script>
    <script src="~/Content/Genyx/html/js/plugins/forms/validation/jquery.validate.js"></script>
    <script src="~/Content/Genyx/html/js/app.js"></script>
    <script src="~/Content/Genyx/html/js/pages/login.js"></script>
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
