<aside id="sidebar">
    <div class="side-options">
        <ul>
            <li><a href="#" id="collapse-nav" class="act act-primary tip" title="" data-original-title="Collapse navigation"><i class="icon16 i-arrow-left-7"></i></a></li>
        </ul>
    </div>
</aside>